
/* PADRÕES PROFISSIONAIS */
:root{
    --header-height:70px;
    --card-height:220px;
    --radius:14px;
}

/* base */
body{
    font-family: "Segoe UI", Arial, sans-serif;
    background:#fdfcff;
    margin:0;
}

/* HEADER */
.header{
    height:var(--header-height);
    background:#0e1461;
    border-bottom:1px solid #e3e6ea;
    display:flex;
    align-items:center;
    padding:0 32px;
    font-size:20px;
    font-weight:600;
    color:white;
}

/* AREA CENTRAL */
.main{
    min-height:calc(100vh - var(--header-height));
    display:flex;
    align-items:center;
}

/* largura profissional */
.dashboard-container{
    max-width:1100px;
}

/* CARD */
.card-system{
    height:var(--card-height);
    border-radius:var(--radius);
    padding:28px;
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    transition:.25s;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.card-system:hover{
    transform:translateY(-4px);
    box-shadow:0 12px 25px rgba(0,0,0,0.15);
}

/* cores corporativas */
.card-sales{
    background:#079e3e;
}
.card-sales:hover{
    background:#1d6830;
}

.card-stock{
    background:#eb7507;
}
.card-stock:hover{
    background:#b6600f;
}

.a{
    text-decoration: none;
    color: white;
}




/* icone */
.card-system i{
    font-size:48px;
    margin-bottom:12px;
}

/* titulo */
.card-title-system{
    font-size:22px;
    font-weight:600;
}

/* subtitulo */
.card-sub{
    font-size:14px;
    opacity:.9;
}

/* RESPONSIVO */
@media(max-width:768px){

.header{
    padding:0 16px;
    font-size:18px;
}

.card-system{
    height:180px;
}

}