      * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
        }

        body {
            min-height: 100vh;
            display: flex;
            background-color: #f2f4f7;
        }

        .container {
            display: flex;
            width: 100%;
            min-height: 100vh;
        }

       
        .left-panel {
            flex: 1;
            background: #096424;
            background-image: url("../file/WhatsApp\ Image\ 2026-02-25\ at\ 15.38.41.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 60px;
        }

        .left-panel i {
            font-size: 48px;
            margin-bottom: 20px;
            color: #38bdf8;
        }

        .left-panel h1 {
            font-size: 36px;
            margin-bottom: 10px;
            display: inline-block;
            
        }

        .left-panel p {
            font-size: 19px;
            
            max-width: 400px;
        }

        /* Painel login */
        .right-panel {
            flex: 1;
            background: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        .login-box {
            width: 100%;
            max-width: 360px;
        }

        .login-box h2 {
            margin-bottom: 25px;
            color: #111827;
            font-weight: 700;
            font-size: 24px;
        }

        .field {
            margin-bottom: 18px;
        }

        .field label {
            font-size: 13px;
            color: #6b7280;
            margin-bottom: 6px;
            display: block;
        }

        .input-wrapper {
            position: relative;
        }

        .input-wrapper i {
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
            color: #9ca3af;
        }

        .input-wrapper input {
            width: 100%;
            padding: 14px 14px 14px 42px;
            border-radius: 8px;
            border: 1px solid #d1d5db;
            font-size: 15px;
            outline: none;
        }

        .input-wrapper input:focus {
            border-color: #2563eb;
        }

        .login-btn {
            width: 100%;
            padding: 16px;
            background: #2563eb;
            color: #fff;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            margin-top: 10px;
        }

        .login-btn:hover{
            background: #041666;

        }

        .login-btn i {
            margin-right: 6px;
        }

        .extras {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            font-size: 13px;
        }

        

        .extras a {
            color: #2563eb;
            text-decoration: none;
        }

        .extras a:hover{
          color: red;
        }

        /* 🔹 TABLET */
        @media (max-width: 900px) {
            .container {
                flex-direction: column;
            }

            .left-panel {
                padding: 40px 30px;
                text-align: center;
                align-items: center;
            }

            .left-panel p {
                max-width: none;
            }
        }

        /* 🔹 MOBILE */
        @media (max-width: 480px) {
            .left-panel h1 {
                font-size: 26px;
            }

            .left-panel p {
                font-size: 14px;
            }

            .login-box h2 {
                font-size: 22px;
                text-align: center;
            }

            .extras {
                flex-direction: column;
                gap: 8px;
                text-align: center;
            }
        }